/* css animations*/
#logo {
  animation: logo-fade 700ms linear;
}

@keyframes logo-fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.animate__fadeInUp {
  animation-delay: 600ms;
  transition: all 1s ease-in-out;
}

.animate__fadeInLeft,
.animate__fadeInRight {
  animation-delay: 600ms;
  transition: all 1s ease-in-out;
}
.animate__flipInX {
  animation-delay: 1700ms;
  transition: all 250ms ease-in-out;
}
.socialOne {
  animation-delay: 850ms;
  transition: all 1s ease-in-out;
}

.socialTwo {
  animation-delay: 950ms;
  transition: all 1s ease-in-out;
}

.socialThree {
  animation-delay: 1050ms;
  transition: all 1s ease-in-out;
}
.animate__zoomIn {
  animation-delay: 3s;
  transition: all 1s ease-in-out;
}
