body {
  height: auto;
  width: 98vw;
  background-image: url(./images/bg-desktop.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #674baf;
  margin: 5vh auto;
  overflow: hidden;
  transition: all 500ms ease-in-out;
}

header {
  width: 98vw;
}
#logo {
  /* position: absolute;
  top: 50px;
  left: 10vw; */
  width: 400px;
  height: 70px;
  animation-name: logo-fade;
}
.image-area img {
  width: 40vw;
  height: auto;
  min-width: 709px;
  min-height: 506px;
}

.info-area {
  width: 30vw;
  transition: all 1s ease-in-out;
}
.info-area h1 {
  font-family: "Poppins", sans-serif;
  font-size: 3.6rem;
  font-weight: 600;
  color: #fff;
  margin: 2.5rem 0;
  line-height: 1.35em;
}

.info-area p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.65rem;
  line-height: 1.35em;
  font-weight: 400;
  color: #fff;
  opacity: 0.85;
  margin: 1rem 0;
}

button {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #4a367d;
  padding: 15px 70px;
  border-radius: 50px;
  font-size: 1.1rem;
  margin: 1rem 0;
  border: 0;
  filter: drop-shadow(2px 6px 10px #2c204a50);
}

button:hover {
  background-color: #e882e8;
  color: #fff;
  filter: drop-shadow(2px 6px 10px #b565b530);
  cursor: pointer;
}

.flex-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  width: 85%;
  gap: 4rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8vh;
}

.image-area {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.info-area {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
  margin-top: 2rem;
}

/* .flex-item:nth-child(1) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: flex-start;
  align-self: flex-start;
}
.flex-item:nth-child(2) {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: flex-start;
  align-self: flex-start;
} */

header .logo-wrapper {
  margin: 5vh auto;
  /* margin-left: auto;
  margin-right: auto; */
  width: 77vw;
}
.attribution,
.attribution a {
  font-size: 0.75rem;
  text-align: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.attribution a {
  color: #e6d6e6;
}
.attribution a:hover {
  color: #fff;
}

.social-grid {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.circleMe {
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.circleMe {
  border: 2px solid #fff;
  padding: 15px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  text-align: center;
}
.circleMe:hover {
  border: 2px solid #e882e8;
  transition: 0.2s all ease;
  cursor: pointer;
}

#facebook-f,
#instagram,
#twitter {
  transition: 0.2s all ease;
  height: 30px;
  width: 30px;
}

#facebook-f:hover path,
#instagram:hover path,
#twitter:hover path {
  fill: #e882e8 !important;
  cursor: pointer;
}

footer {
  margin-top: 10vh;
  width: 100%;
  opacity: 0.75;
}
.social-wrapper {
  margin-top: 7.5vh;
  width: 82.5vw;
}

/* 2200px - 1800px */
@media only screen and (min-width: 1800px) and (max-width: 2200px) {
  header .logo-wrapper {
    margin: 2vh auto;
    width: 80vw;
  }
  #logo {
    width: 16rem;
  }
  .info-area h1 {
    font-size: 3rem;
  }
  .info-area p {
    font-size: 1.5rem;
  }
  .social-grid {
    margin-top: 4vh;
  }
  footer {
    margin-top: 8vh;
  }
}

/* 2200px - 1800px */
@media only screen and (min-width: 1400px) and (max-width: 1799px) {
  header .logo-wrapper {
    margin: 2vh auto;
    width: 80vw;
  }
  #logo {
    width: 12rem;
  }
  .flex-grid {
    margin-top: 4vh;
    width: 100%;
  }

  .info-area h1 {
    font-size: 2.6rem;
  }
  .info-area p {
    font-size: 1.35rem;
  }

  .circleMe {
    border: 2px solid #fff;
    padding: 10px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    text-align: center;
  }
  #facebook-f,
  #instagram,
  #twitter {
    transition: 0.2s all ease;
    height: 16px;
    width: 16px;
    margin-top: 4px;
  }
  footer {
    margin-top: 5vh;
  }
}
/* 2200px - 1800px */
@media only screen and (min-width: 1101px) and (max-width: 1399px) {
  header .logo-wrapper {
    margin: 2vh auto;
    width: 86vw;
  }
  #logo {
    width: 12rem;
  }
  .flex-grid {
    margin-top: 4vh;
    width: 100%;
    gap: 5rem;
  }
  .image-area {
    width: 50%;
  }
  .image-area img {
    width: 100%;
    height: auto;
    min-width: 300px;
    min-height: auto;
  }
  .info-area h1 {
    font-size: 2.1rem;
  }
  .info-area p {
    font-size: 1rem;
  }
  button {
    font-size: 1rem;
  }
  .social-wrapper {
    width: 93%;
    margin-top: 5vh;
  }

  .circleMe {
    border: 2px solid #fff;
    padding: 10px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    text-align: center;
  }
  #facebook-f,
  #instagram,
  #twitter {
    transition: 0.2s all ease;
    height: 16px;
    width: 16px;
    margin-bottom: -2px;
  }
  footer {
    margin-top: 5vh;
  }
}
/* 1100px and smaller (mobile) */
@media only screen and (min-width: 200px) and (max-width: 1100px) {
  body {
    height: 57vh;
    width: 98vw;
    background-image: url(./images/bg-mobile.svg);
    background-size: cover;
    background-color: #674baf;
    margin: 3vh auto;
    overflow: hidden;
  }

  header {
    width: 100%;
  }
  header .logo-wrapper {
    margin: 2vh auto;
    width: 84vw;
  }

  #logo {
    width: 8rem;
  }
  .flex-grid {
    display: block;
    margin-top: 4vh;
  }
  .info-area,
  .image-area {
    width: 100%;
    text-align: center !important;
  }
  .image-area {
    text-align: center;
  }

  .image-area img {
    width: 70%;
    height: auto;
    min-width: 300px;
    min-height: auto;
  }
  .info-area h1 {
    font-size: 1.45rem;
    text-align: center;
    margin: 5vh auto;
  }
  .info-area p {
    font-size: 1rem;
    line-height: 1.45em;
    text-align: center;
    font-weight: 400;
  }
  button {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #4a367d;
    padding: 15px 70px;
    border-radius: 50px;
    font-size: 1.1rem;
    margin: 1rem 0;
    border: 0;
    filter: drop-shadow(2px 6px 10px #2c204a50);
  }
  .social-wrapper {
    width: 100%;
    margin: 4vh auto 1vh auto;
  }
  .social-grid {
    justify-content: center;
    gap: 15px;
  }
  .circleMe {
    border: 2px solid #fff;
    padding: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
  }
  #facebook-f,
  #instagram,
  #twitter {
    transition: 0.2s all ease;
    height: 14px;
    width: 14px;
    margin-bottom: -2px;
  }
  footer {
    margin-top: 2vh;
  }
}
